*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
main{
    height: 70%;
    width: 25%;
    border: 2px solid white;
    border-radius: 10px;
}
button{
    background-color: white;
    color: black;
    border-radius: 10px;
}